.profile{
    margin-left: 20%; 
    width: 30%;
    display: flex;
    flex-direction: column;
    visibility: hidden;
}

.profile img{
    border-radius: 5px 5px 0px 0px;
    max-width: 50%;
    margin: 0;
}

.profile .name{
    background-color: lightgoldenrodyellow;
    text-align: center;
    font-size: 20px;
    color: slategray;
    margin: 0;
    max-width: 50%;
    border-radius: 0px 0px 5px 5px;
    padding: 0.5em 0 0.5em 0;
}

.repos {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.user {
    display: flex;
    min-height: 100px;
}

.repo{
    width: 48%;
    height: 130px;
    border-radius: 10px;
    background-color: slategrey;
    transition: background-color 0.5s ease;
    margin-bottom: 2%;
    cursor: pointer;
}

.repo:hover{
    background-color: papayawhip;
}

.repoContent{
    padding: 10px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 80%; 
    font-weight: bold;
}

.repoContent label {
    font-weight: normal;
}

.info {
    max-width: 50%;
    height: 100px;
    padding-top: 10px;
}
.info div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.info label {
    font-size: 12px;
    font-weight: bold;
}

@media(max-width: 798px){
    .user{
        flex-direction: column;
    }

    .repos{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .user {
        align-items: center;
    }

    .profile {
        width: 100%;
        align-items: center;
    }

    .name {
        width: 100%;
    }

    .repo {
        width: 100%;
    }
}