.container{
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}

.button{
    background-image: url('../../assets/moon.png');
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
    border: none;
    box-shadow: 1px 1px 5px #d1d5da;
    cursor: pointer;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button:hover{
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.4);
}

.button:focus{
    outline-style: none;
}

.button:active
{
    background-color: ced6e0;
}
